h1 {
    text-align: center;
    color: aliceblue;
    background-color: #07079a;
}

.cityName , .cityName2, .cityName3, .cityName4, .cityName5  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    max-width: 40%;
}

.container {
    justify-content:end;
    padding-left: 40%;
    padding-bottom: 100%;
    display: inline-block;
}